# Ignore Visual Studio files
*.vs
*.vcxproj
*.vcxproj.filters
*.sln
*.vcxproj.user
*.vcproj
*.vcxitems
*.vsprops
*.dbmdl
ipch/
*.sdf
*.opensdf
*.suo
*.user
*.manifest
*.log
*.tlog/
*.tlog
*.lastbuildstate
Debug/
Release/
x64/
x86/
Win32/
bin/
obj/
*.ilk
*.meta
*.cache
*.pdb
*.pch
*.ipdb
*.pgc
*.pgd
*.rsp
*.pch
*.res
*.idb
*.pdb
*.ipch/
*.iobj/
*.pdb
*.ipdb
*.ilk
*.msm
*.ilk
*.aps
*.sbr
*.scc
[Bb]in/
[Dd]ebug*/
[Rr]elease*/
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlh
*.obj
*.tlb
*.pdm
*.svclog
*.sln.docstates